@using HotelIntegratedComputerSystems.Controllers
@using HotelIntegratedComputerSystems.Models
@using Microsoft.Ajax.Utilities
@using HtmlHelper = System.Web.WebPages.Html.HtmlHelper
@model HotelIntegratedComputerSystems.Models.GoogleLoginViewModel
@Scripts.Render("~/Scripts/GoogleAuth.js")
@{
    ViewBag.Title = "Index";
}

<!-- sign in code -->
<meta name="google-signin-client_id" content="774525732284-lpuok1q2o879p2ehg56k5e35q0ctnp22.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<body>

<p>
    <!-- Google Sign-in -->
<div class="g-signin2"
     data-height="50"
     data-width="240"
     data-longtitle="true"
     data-onsuccess="onSignIn">
</div>
    
<button onclick="signOut()">Sign Out of Google</button>

</body>