
@{
    ViewBag.Title = "DeleteError";
}

<h2>Delete Expense Type Error</h2>

@Html.Partial("_CannotDeleteError")

<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index")
</div>
